.messagespage {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		"correspondants messages";
	background: var(--primary-color);
	border-radius: 8px;
	border: 1px solid black;
}

.correspondants {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: var(--spacing) 32px;
	border-right: 1px solid black;
}