:root {
  --primary-color: #FF6F00;
  --secondary-color: #212121;
  --complimentary-color: yellow;
  --full-height: 100dvh;
  --navbar-height: 51px;
  --main-height: calc(var(--full-height) - var(--navbar-height) - var(--spacing)*2);
  --spacing: 16px;
  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: var(--secondary-color);
  background: var(--primary-color);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Roboto', 'Oxygen',
    'Segoe UI', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  position: relative;
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  min-height: var(--main-height);
}

main>div {
  min-height: inherit; /* Gives all pages min height (100%) */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}