.homepage {
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
	min-height: var(--main-height);
}

.user {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid red;
	padding: var(--spacing);
	margin-block: var(--spacing);
}